<body id="b">
<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="register-page">
    <div class="form">
      <form class="register-form">

          <div class="field">
            <%= f.text_field :profile_picture, autofocus: true, autocomplete: "off", placeholder: "image url", class: :new_input%>
            <p></p>
            <%= f.text_field :name, autofocus: true, autocomplete: "off", placeholder: "name", class: :new_input%>
            <p></p>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: :new_input%>

            <% if @minimum_password_length %>
          </br>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: :new_input%>
            <p>(<%= @minimum_password_length %> characters minimum)</p>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: :new_input%>
          </div>
            <%= f.submit "Sign up", :class => "actions" %>
        </form>
        <% end %>
        <p class="message">Already registered? <%= link_to "Sign in", new_session_path(resource_name) %></p>
      </div>
    </div>
</body>
