<h1>Add A Comment</h1>
<%= form_for [@item, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <br />
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'anonnymous' %>
  <br />
  <%= f.submit %>
<% end %>
